<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 10px">
    <ion-row style="margin: 0 40px 10px">
      <ion-col
      >
        <ion-text style="">Hilo sobre asignaciones</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row style="margin: 0 10px 10px">
      <ion-col size="12" size-md="12"
      ><ion-item>
        <ion-textarea placeholder="Gubergren voluptua sed labore sit accumsan vero voluptua feugiat sea eum eros no duo minim sea facilisis. At esse lorem sea et ut nulla sed. Et et sanctus stet vulputate lorem amet dolor tation lorem justo ea clita. Erat vero dignissim dolor ipsum ut dolor hendrerit. Sanctus clita eos et dolor dolor diam. Euismod augue vero ipsum diam eros ut et esse gubergren et est tempor ut. Duis sit in dolore stet liber vulputate no et amet ad praesent nostrud praesent dolore rebum amet aliquyam ea. Lorem ullamcorper possim soluta ut amet " rows="4"></ion-textarea>
      </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row style="margin: 0 10px 0 70px">
      <ion-col size="12" size-md="12"
      ><ion-item>
        <ion-textarea placeholder="Voluptua feugiat sea eum eros no duo minim sea facilisis. At esse lorem sea et ut nulla sed. Et et sanctus stet vulputate lorem amet dolor tation lorem justo ea clita. Erat vero dignissim dolor ipsum ut dolor hendrerit. Sanctus clita eos et dolor dolor diam. Euismod augue vero ipsum diam eros ut et esse gubergren et est tempor ut. Duis sit in dolore amet " rows="4"></ion-textarea>
      </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
