<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalles de Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-loading [isOpen]="isLoading" message="Cargando..."></ion-loading>

  <div *ngIf="bill" class="payment-detail-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bill Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>ID:</ion-label>
          <div>{{ bill.id }}</div>
        </ion-item>
        <ion-item>
          <ion-label>Transaction Code:</ion-label>
          <div>{{ bill.payment?.transaction_code || 'N/A' }}</div>
        </ion-item>
        <ion-item *ngIf="bill?.status">
          <ion-label>Status:</ion-label>
          <div>{{ bill.status }}</div>
        </ion-item>
        <ion-item *ngIf="bill?.user?.name">
          <ion-label>Student:</ion-label>
          <div>{{ bill.user.name }}</div>
        </ion-item>
        <ion-item *ngIf="bill?.description">
          <ion-label>Description:</ion-label>
          <div>{{ bill.description }}</div>
        </ion-item>
        <ion-item>
          <ion-label>Emission Date:</ion-label>
          <div>{{ bill.emission_date | date:'medium' }}</div>
        </ion-item>
        <ion-item *ngIf="bill?.paid_date">
          <ion-label>Paid Date:</ion-label>
          <div>{{ bill.paid_date | date:'medium' }}</div>
        </ion-item>
        <ion-item>
          <ion-label>Created:</ion-label>
          <div>{{ bill.payment?.created_at | date:'medium' }}</div>
        </ion-item>
        <ion-item *ngIf="bill?.payment?.updated_at">
          <ion-label>Last Updated:</ion-label>
          <div>{{ bill.payment?.updated_at | date:'medium' }}</div>
        </ion-item>
       
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>        
        <ion-card-title>Subscription</ion-card-title>   
        <ion-card-subtitle class="subscription-status">{{ bill.subscription.status }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>        
        <ion-item>
          <ion-card-subtitle>Subscription Code: {{ bill.subscription.suscription_code || 'N/A' }}</ion-card-subtitle>        
        </ion-item>       
        <ion-item *ngFor="let product of bill?.subscription?.products">
          <ion-label>{{ product.name }}</ion-label>
          <div>${{ product.total }}</div>
        </ion-item>        
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>        
        <ion-card-title>Products</ion-card-title>
      </ion-card-header>
      <ion-card-content>     
        <ion-item *ngIf="bill?.products && bill?.products?.length == 0">
          <ion-card-subtitle>Sin productos adicionales</ion-card-subtitle>
        </ion-item>                  
        <ion-item *ngFor="let product of bill?.products">
          <ion-label>{{ product.name }}</ion-label>
          <div>${{ product.total }}</div>
        </ion-item>        
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>        
        <ion-item>
          <ion-label></ion-label>
        <ion-list>
          <ion-item>
            <ion-label>Subtotal:</ion-label>
            <div>${{ bill.subtotal }}</div>
          </ion-item>
          <ion-item>
            <ion-label>Tax:</ion-label>
            <div>${{ bill.tax }}</div>
          </ion-item>
          <ion-item>
            <ion-label>Amount Tax:</ion-label>
            <div>${{ bill.amount_tax }}</div>
          </ion-item>
          <ion-item *ngIf="bill?.total">
            <ion-label>Total:</ion-label>
            <div>${{ bill.total }}</div>
          </ion-item>
        </ion-list>
      </ion-item>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>Payment Confirmation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="upload-container">
          <div class="upload-header">
            <p *ngIf="!bill?.payment?.image">
              Please upload a confirmation image for this invoice
            </p>
          </div>

          <!-- Show file preview if image exists -->
          <div *ngIf="bill?.payment?.image" class="file-preview">
            <div class="preview-content">
              <img
                [src]="getImageUrl()"
                class="preview-image"
                alt="Invoice Confirmation"
              />
            </div>
            <ion-button
              class="remove-file-btn"
              fill="clear"
              (click)="uploadReceiptImage()"
            >
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </div>

          <!-- Show upload area if no image is present -->
          <div
            *ngIf="!bill?.payment?.image"
            class="file-upload-area"
            (click)="uploadReceiptImage()"
          >
            <ion-icon
              name="cloud-upload-outline"
              class="upload-icon"
            ></ion-icon>
            <div class="upload-text">
              <p>Upload Invoice Confirmation</p>
              <span>Click to select a file</span>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
