<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tasks"></ion-back-button>
    </ion-buttons>
    <ion-title>Task Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <img src="{{task?.image}}" alt="Task Photo" class="task-photo" />
    <ion-card-header>
      <ion-card-title>{{task?.course.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Teachers Note:</h2>
      <p>{{task?.teacher_note}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
