<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 10px">
    @for (item of cursos; track $index) {
    <ion-row>
      <ion-col>
        <ion-card color="azul-light" button="true"  (click)="goModules(item.id)" style="margin: 0 10px">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="10">
                <ion-card-header>
                  <ion-card-title>{{item.name}}</ion-card-title>
                </ion-card-header>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="log-in-sharp" size="large"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card
      ></ion-col>
    </ion-row>
  }
  </ion-grid>
</ion-content>
