<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 10px">
    <ion-row>
      <ion-col
        ><ion-card color="azul-light" button="true" [routerLink]="'/modules'" style="margin: 0 10px">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="10">
                <ion-card-header>
                  <ion-card-title>1 - Curso introductorio del idioma Portugues </ion-card-title>
                  <ion-card-subtitle>Porque hablar el idioma</ion-card-subtitle>
                </ion-card-header>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="log-in-sharp" size="large"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid> </ion-card
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        ><ion-card color="azul-light" button="true" [routerLink]="'/modules'" style="margin: 0 10px">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="10">
                <ion-card-header>
                  <ion-card-title>2 - Preparación de ingreso al instituto </ion-card-title>
                  <ion-card-subtitle>Acercamiento y buenas prácticas</ion-card-subtitle>
                </ion-card-header>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="log-in-sharp" size="large"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid> </ion-card
      ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        ><ion-card color="azul-light" button="true" [routerLink]="'/modules'" style="margin: 0 10px">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="10">
                <ion-card-header>
                  <ion-card-title>3 - Certificacion oficial de Portugal </ion-card-title>
                  <ion-card-subtitle>Practicas y entrenamientos</ion-card-subtitle>
                </ion-card-header>
              </ion-col>
              <ion-col size="2">
                <ion-icon name="log-in-sharp" size="large"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid> </ion-card
      ></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
