<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Facturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 10px">
    @for (item of this.payments; track $index) {
    <ion-row>
      <ion-col>
        <ion-card
          (click)="goPayment(item.id)"
          color="azul-light"
          button="true"
          style="margin: 0 10px"
        >
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col>
                <ion-card-header>
                  <ion-card-title>
                    ID de Factura: {{ item.id }}
                  </ion-card-title>
                  <ion-card-subtitle>
                    Código de Transacción: {{ item.transaction_code }}
                  </ion-card-subtitle>
                  <ion-card-subtitle>
                    Fecha de creación: {{ item.created_at | date: 'yyyy-MM-dd'
                    }}
                  </ion-card-subtitle>
                </ion-card-header>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>
