<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Facturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 10px">
    @for (item of this.bills; track $index) {
    <ion-row>
      <ion-col>
        <ion-card
          (click)="goPayment(item.id)"
          color="azul-light"
          button="true"
          style="margin: 0 10px"
        >         
                  <ion-card-header>
                    <ion-card-title>
                      Factura: {{ item.description }}
                    </ion-card-title>
                    <ion-card-subtitle >
                      Emitida por: {{ item.emitter }}
                    </ion-card-subtitle>
                    <ion-card-subtitle>
                      Fecha de emisión: {{ item.emission_date | date: 'yyyy-MM-dd' }}
                    </ion-card-subtitle>
                    <ion-card-subtitle>
                      Estado: {{ item.status }}
                    </ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content style="border-top: 1px solid rgba(255, 255, 255, 0.267); padding-top: 10px;">
                    <p style="font-size: medium;"><strong>Subtotal:</strong> ${{ item.subtotal }}</p>
                    <p style="font-size: medium;"><strong>Impuesto:</strong> ${{ item.amount_tax }} ({{ item.tax }}%)</p>
                    <p style="font-size: medium;"><strong>Total:</strong> ${{ item.total }}</p>
                  </ion-card-content>
                
        </ion-card>
      </ion-col>
    </ion-row>
    }
  </ion-grid>
</ion-content>
