<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card
          button="true"
          style="
            height: 150px;
            border-radius: 15px;
            display: flex;
            align-items: center;
          "
          [routerLink]="'/schedule'"
        >
          <img src="assets/banner-app.jpg" alt="" />
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-item-group>
      <ion-item-divider>
        <h4 style="font-weight: bold; color: #2a2a2a; font-weight: 700">
          Opciones de Academia
        </h4>
      </ion-item-divider>
    </ion-item-group>
    <ion-row>
      <ion-col>
        <ion-card
          color="yellow-light"
          button="true"
          style="
            height: 150px;
            border-radius: 15px;
            display: flex;
            align-items: center;
          "
          [routerLink]="'/schedule'"
        >
          <ion-card-header style="display: flex; align-items: center">
            <ion-icon name="calendar-sharp" size="large"></ion-icon>
            <ion-card-title>Agendar</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col
        ><ion-card
          color="green"
          button="true"
          style="
            height: 150px;
            border-radius: 15px;
            display: flex;
            align-items: center;
          "
          [routerLink]="'/courses'"
        >
          <ion-card-header style="display: flex; align-items: center">
            <ion-icon name="layers-sharp" size="large"></ion-icon>
            <ion-card-title>Cursos</ion-card-title>
          </ion-card-header>
        </ion-card></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col
        ><ion-card
          color="green-light"
          button="true"
          style="
            height: 150px;
            border-radius: 15px;
            display: flex;
            align-items: center;
          "
          [routerLink]="'/foro'"
        >
          <ion-card-header style="display: flex; align-items: center">
            <ion-icon name="chatbubble-sharp" size="large"></ion-icon>
            <ion-card-title>Foro</ion-card-title>
          </ion-card-header>
        </ion-card></ion-col
      >
      <ion-col
        ><ion-card
          color="yellow"
          button="true"
          style="
            height: 150px;
            border-radius: 15px;
            display: flex;
            align-items: center;
          "
          [routerLink]="'/homeworks-list'"
        >
          <ion-card-header style="display: flex; align-items: center">
            <ion-icon name="checkbox-sharp" size="large"></ion-icon>
            <ion-card-title>Tareas</ion-card-title>
          </ion-card-header>
        </ion-card></ion-col
      >
    </ion-row>
  </ion-grid>

  <!--Estudiantes Destacados-->
  <ion-grid style="background-color: #617d57">
    <ion-item-group>
      <ion-item-divider
        style="background-color: #617d57; border-bottom: white 1px solid"
      >
        <h4 style="font-weight: bold; color: white">Estudiantes Destacados</h4>
      </ion-item-divider>
    </ion-item-group>
    <ion-row>
      <ion-col *ngFor="let student of outstandingStudents">
        <ion-card
          button="true"
          style="
            height: 270px;
            border-radius: 15px;
            background: rgba(0, 0, 0, 0);
          "
          [routerLink]="'/student/' + student.id"
        >
          <div
            [style.background-image]="'url(' + student.profile_picture_url + ')'"
            style="
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              height: 200px;
              width: 100%;
            "
          ></div>
          <ion-card-header color="yellow-light" style="padding-top: 10px">
            <ion-card-title style="height: 74px"
              >{{ student.name }}</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
