.time-slot-button {
  margin: 5px 0;
  --border-radius: 8px;
  font-size: 0.9rem;
  height: 50px;

  &[disabled] {
    opacity: 0.5;
  }
}

ion-datetime {
  width: 100%;
}

ion-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
