<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modulos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @for (modulo of modules; track $index) {
  <ion-accordion-group expand="inset">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{modulo.name}}</ion-label>
      </ion-item>
      @for (clase of modulo.lessons; track $index) {
      <div class="ion-padding" slot="content">{{clase.name}}</div>
      }
    </ion-accordion>
  </ion-accordion-group>
  }
</ion-content>
