<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registrar Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 10px">
    <ion-row>
      <ion-col>
        <div class="upload-container">
          <!-- Texto encima del avatar -->
          <div class="upload-text">
            <h3>Subir foto</h3>
          </div>

          <!-- Contenedor del avatar con el input file -->
          <ion-avatar class="upload-area" (click)="fileInput.click()">
            <!-- Icono de cámara si no hay imagen seleccionada -->
            <ion-icon
              *ngIf="!selectedImage"
              name="camera-outline"
              class="camera-icon"
            ></ion-icon>
            <!-- Imagen seleccionada como fondo -->
            <img *ngIf="selectedImage" [src]="selectedImage" />
          </ion-avatar>

          <!-- Input oculto -->
          <input
            type="file"
            #fileInput
            (change)="onFileChange($event)"
            accept="image/*"
            style="display: none"
          />
        </div>
      </ion-col>
    </ion-row>
    <ion-row style="margin: 0 10px 10px">
      <ion-col size="12" size-md="12"
        ><ion-item>
          <ion-select
            [(ngModel)]="this.course_id"
            label="Curso"
            placeholder="Curso"
          >
            @for (item of this.courses; track $index) {
            <ion-select-option value="{{item.id}}"
              >{{item.name}}</ion-select-option
            >
            }
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row style="margin: 0 10px 10px">
      <ion-col size="12" size-md="12"
        ><ion-item>
          <ion-select
            [(ngModel)]="this.professor_id"
            label="Profesor"
            placeholder="Profesor"
          >
            @for (professor of this.professors; track $index) {
            <ion-select-option value="{{professor.id}}"
              >{{professor.name}}</ion-select-option
            >
            }
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="12">
        <ion-button
          expand="block"
          (click)="onSubmit()"
          color="secondary"
          style="margin: 0 10px"
          >Aceptar</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
