<ion-app>
  <ng-container *ngIf="currentUrl !== '/login' && currentUrl !== '/'; else loginLayout">
    <ion-split-pane contentId="main-content">
      <ion-menu contentId="main-content" type="overlay">
        <ion-content>
          <ion-list id="inbox-list">
            <ion-list-header>Jorge Camilo Vasques {{currentUrl}}</ion-list-header>
            <ion-note>jcamilovasques&#64;gmail.com</ion-note>

          @if (this.loggedUser.role_id === 4) {
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              @if (p.title === 'Secretaría' ||  p.title === 'Configuraciones') {
                <ion-item   routerLink="{{ p.url }}" routerDirection="root" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
                </ion-item>
            }
            </ion-menu-toggle>
          }

          @if (this.loggedUser.role_id === 2) {
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
              @if (p.title === 'Inicio' ||  p.title === 'Configuraciones') {
                   <ion-item   routerLink="{{ p.url }}" routerDirection="root" lines="none" detail="false" routerLinkActive="selected">
                   <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                   <ion-label>{{ p.title }}</ion-label>
                  </ion-item>
               }
            </ion-menu-toggle>
          }

          <ion-menu-toggle auto-hide="false" (click)="onLogout()">
            
            <ion-item   routerLink="['/login']" routerDirection="root" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" name="log-in-outline"></ion-icon>
            <ion-label>Loggout</ion-label>
           </ion-item>
       
     </ion-menu-toggle>
          
          </ion-list>

          <ion-list id="labels-list">
            <ion-list-header>Labels</ion-list-header>

            <ion-item lines="none" *ngFor="let label of labels" [button]="true">
              <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
              <ion-label>{{ label.title }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
  </ng-container>

  <ng-template #loginLayout>
    <ion-router-outlet id="login-content"></ion-router-outlet>
  </ng-template>
</ion-app>
