<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 40px">
    <ion-row>
      <ion-col size="12">
        <div class="upload-container">
          <div class="upload-header">
            <h3>Foto de perfil</h3>
            <p>Sube una imagen para tu perfil</p>
          </div>

          <div
            class="file-upload-area"
            (click)="fileInput.click()"
            *ngIf="!selectedImage"
          >
            <ion-icon
              name="cloud-upload-outline"
              class="upload-icon"
            ></ion-icon>
            <div class="upload-text">
              <p>Haz clic para seleccionar</p>
              <span>O arrastra y suelta aquí</span>
            </div>
          </div>

          <div class="file-preview" *ngIf="selectedImage">
            <div class="preview-content">
              <img [src]="selectedImage" class="preview-image" />
              <ion-button
                fill="clear"
                class="remove-file-btn"
                (click)="removeFile()"
              >
              
              <ion-icon name="close-outline"  size="medium"></ion-icon>
              </ion-button>
            </div>
          </div>

          <input
            type="file"
            accept="image/*"
            hidden
            #fileInput
            (change)="onFileChange($event)"
          />
        </div>
      </ion-col>
    </ion-row>
    <ion-text style="margin: 100px 15px 15px">Nombre</ion-text>
    <ion-row style="margin: 10px 10px 10px">
      <ion-col size="12" size-md="12"
        ><ion-item>
          <ion-input [(ngModel)]="user.name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-text style="margin: 10px 15px 15px">Correo electrónico</ion-text>
    <ion-row style="margin: 10px 10px 10px">
      <ion-col size="12" size-md="12"
        ><ion-item>
          <ion-input placeholder="{{user.email}}" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-text style="margin: 10px 15px 15px">Fecha de nacimiento</ion-text>
    <ion-item style="margin: 10px 15px 15px">
      <ion-input
        value="{{ date | date: 'dd/MM/yyyy' }}"
        id="date"
        class="ion-text"
        placeholder="23/10/1985"
      ></ion-input>
      <ion-popover trigger="date" size="cover">
        <ng-template>
          <ion-datetime
            presentation="date"
            [(ngModel)]="date"
            locale="sl-SI"
          ></ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="updateProfile()"
          >Guardar Cambios</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 16px">
      <ion-col size="12">
        <ion-button
          expand="block"
          color="secondary"
          routerLink="/change-password"
          >Cambiar Contraseña</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
