<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Secretaría</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="green" button="true" style="height: 150px">
          <ion-card-header>
            <ion-icon name="reader-sharp" size="large"></ion-icon>
            <ion-card-title>Documentos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col
        ><ion-card color="yellow" button="true" style="height: 150px" [routerLink]="'/payments-list'">
          <ion-card-header>
            <ion-icon name="cash-sharp" size="large"></ion-icon>
            <ion-card-title>Pagos</ion-card-title>
          </ion-card-header>
        </ion-card></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
